#body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: x-large;
    }

#score{
    text-align:left ;
}

#time{
    text-align:right ;
}

